main {
  width: 768px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border: black solid 3px;
  border-radius: 25px;
  padding: 50px 0px;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
button {
  margin: 0.5em 0;
  display: block;
  padding: 8px 4px;
  border-radius: 10px;
  border: black solid 2px;
}

label {
  display: block;
}

.invalid {
  color: red;
  border-color: red;
}

button {
  color: white;
  background-color: black;
  width: 100%;
}

input::placeholder {
  color: rgb(199, 199, 199);
}

p.invalid {
  font-size: 0.9em;
}

.eye {
  position: relative;
  top: -33px;
  left: 140px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  display: flex;
  font-size: 2.5em;
  border-top: rgb(194, 194, 194) solid 4px;
  border-left: black solid 4px;
  border-bottom: black solid 4px;
  border-right: rgb(194, 194, 194) solid 4px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.completion {
  background-color: rgb(240, 241, 245);
  padding: 15px 25px;
  border-radius: 25px;
}

li {
  list-style: none;
  padding: 5px 0;
}

ul {
  padding: 0;
}

.complete {
  color: rgb(165, 165, 165);
  text-decoration: line-through;
}
