body {
  font-family: sans-serif;
}

main {
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

table {
  caption-side: bottom;
}

caption {
  margin-top: 10px;
  text-align: left;
}

h2 {
  text-align: left;
}
